

/* CONTAINER RESPONSIVO */

.container{
    min-height: 100vh;
    border: 1px rgb(141, 141, 141) dashed;
    max-width: 768px;
    margin-inline: auto;
    padding-inline: clamp(1rem, 1vw, 2rem);
    margin-top: 10vh;
}
.divisor{
    margin: 15px 0;
    height: 0;
    padding: 0;
    border-width: 1px 0 1px 0;
    border-style: solid;
    border-color: #ccc transparent #fff transparent;
}
img{
    width: 200px;
}
button{
    all: unset;
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle;
    padding: 10px 20px;
    border-radius: var(--button--radius);
    transition: 0.1s all linear;
    cursor: pointer;   
    user-select: none;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    border:1px rgb(207, 207, 207) solid;
    box-shadow: 0px 1px 0px #fefefe;
    background-image: linear-gradient(to bottom, #ffffff, #f0f0f0);
}
button:hover, button:focus{  
    background-image: linear-gradient(to bottom, #2743be, #161b93);
    color: #fff;    
}