/* reset das margens do browser */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    min-height: 100vh;
}
body{
    font-family: "Signika Negative", sans-serif;
    background-color: var(--background-color);
    color: #606060;
}
html{
    /* tamanho de fonte base (font-size setado aqui influencia todo documento e vira valor base para 1rem) */
    font-size: 16px;
}
img{
    max-width: 100%;
}

h1,h2,h3,h4,h5,h6{
    color: var(--titles-color);
    font-weight: 400;
    margin-bottom: 1ch;
}
p{
    color: var(--text-color);
    font-weight: 300;
}
ul{
    list-style: none;
}
li{
    color: var(--titles-color);
}